body {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    min-width: 357px;
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,"Hiragino Kaku Gothic Pro","Lucida Grande",Verdana,Arial,Meiryo,"メイリオ",sans-serif;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

.wrapper {
    margin-left: 0 auto;
}

.select-os {
  width: 90%;
  margin: 2em auto;
}

.select-os input {
  display: none;
}
.select-os input[type="radio"]:checked + label {
  color: #666666;
  border: 2px solid #aaa;
  background-color: #ddd;
}
.select-os input[type="checkbox"]:checked + label {
  color: #666666;
  border: 2px solid #aaa;
  background-color: #ddd;
}
.select-os label {
  color: #ddd;
  border: 2px solid #ddd;
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  width: 100px;
}
.select-os label:hover {
    color: #aaa;
    border: 2px solid #aaa;
    cursor: pointer;
}


/* 吹き出し */
.balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
}

.balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    margin-left: 20px;
    width: 50px;
}

.balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 2px #FFC107;
    border-radius: 50%;
}

.balloon5 .chatting {
    width: 100%;
}

.says {
    display: inline-block;
    position: relative;
    margin: 5px 0 0 105px;
    padding: 12px 13px;
    border-radius: 12px;
    font-size: 10px;
    border: solid 2px #FFC107;
}

.says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 9px;
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #FFC107;
}

.says p {
    margin: 0;
    padding: 0;
}

/* ドロップダウンリスト */
.cp_ipselect {
    overflow: hidden;
    width: 90%;
    margin: 2em auto;
    text-align: center;
}
.cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background: #ffffff;
}
.cp_ipselect.cp_sl01::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
    padding: 8px 38px 8px 8px;
    color: #666666;
}

/* ボタン */
.copy-btn {
  width: 90%;
  margin: 2em auto;
}
.square_btn{
    display: inline-block;
    padding: 7px 20px;
      border-radius: 6px;
    text-decoration: none;
    color: #FFF;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    transition: .4s;
}

.square_btn:hover {
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

/* テキストエリア */
#targetText {
  width: 90%;
  margin: 2em auto;
}